<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irs.mapper.TbSaleReturnOrderMapper">
  <resultMap id="BaseResultMap" type="com.irs.pojo.TbSaleReturnOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="home" jdbcType="VARCHAR" property="home" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="sticks" jdbcType="INTEGER" property="sticks" />
    <result column="batch_number" jdbcType="VARCHAR" property="batchNumber" />
    <result column="approval_number" jdbcType="VARCHAR" property="approvalNumber" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, number, type, home, supplier_id, sticks, batch_number, approval_number, customer_id, 
    amount, sale_price
  </sql>
  <select id="selectByExample" parameterType="com.irs.pojo.TbSaleReturnOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sale_return_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_sale_return_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_sale_return_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.irs.pojo.TbSaleReturnOrderExample">
    delete from tb_sale_return_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.irs.pojo.TbSaleReturnOrder">
    insert into tb_sale_return_order (id, number, type, 
      home, supplier_id, sticks, 
      batch_number, approval_number, customer_id, 
      amount, sale_price)
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{home,jdbcType=VARCHAR}, #{supplierId,jdbcType=INTEGER}, #{sticks,jdbcType=INTEGER}, 
      #{batchNumber,jdbcType=VARCHAR}, #{approvalNumber,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{salePrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.irs.pojo.TbSaleReturnOrder">
    insert into tb_sale_return_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="home != null">
        home,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="sticks != null">
        sticks,
      </if>
      <if test="batchNumber != null">
        batch_number,
      </if>
      <if test="approvalNumber != null">
        approval_number,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="home != null">
        #{home,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="sticks != null">
        #{sticks,jdbcType=INTEGER},
      </if>
      <if test="batchNumber != null">
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="approvalNumber != null">
        #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.irs.pojo.TbSaleReturnOrderExample" resultType="java.lang.Long">
    select count(*) from tb_sale_return_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_sale_return_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.number != null">
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.home != null">
        home = #{record.home,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null">
        supplier_id = #{record.supplierId,jdbcType=INTEGER},
      </if>
      <if test="record.sticks != null">
        sticks = #{record.sticks,jdbcType=INTEGER},
      </if>
      <if test="record.batchNumber != null">
        batch_number = #{record.batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalNumber != null">
        approval_number = #{record.approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.salePrice != null">
        sale_price = #{record.salePrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_sale_return_order
    set id = #{record.id,jdbcType=INTEGER},
      number = #{record.number,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      home = #{record.home,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=INTEGER},
      sticks = #{record.sticks,jdbcType=INTEGER},
      batch_number = #{record.batchNumber,jdbcType=VARCHAR},
      approval_number = #{record.approvalNumber,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=INTEGER},
      sale_price = #{record.salePrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.irs.pojo.TbSaleReturnOrder">
    update tb_sale_return_order
    <set>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="home != null">
        home = #{home,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="sticks != null">
        sticks = #{sticks,jdbcType=INTEGER},
      </if>
      <if test="batchNumber != null">
        batch_number = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="approvalNumber != null">
        approval_number = #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.irs.pojo.TbSaleReturnOrder">
    update tb_sale_return_order
    set number = #{number,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      home = #{home,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      sticks = #{sticks,jdbcType=INTEGER},
      batch_number = #{batchNumber,jdbcType=VARCHAR},
      approval_number = #{approvalNumber,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      sale_price = #{salePrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>